@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Poppins:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    
 display: flex;
 justify-content: center;
 align-items: center;
 height:100vh;
 background-color: #F2F5F9;
}

.container{
 width: 418px;
 font-family: 'Lato', sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #FFFFFF;
 overflow: hidden;
 border-radius: 12px;

}

.picture{
width:100%;
height: 290px;
background-size: cover;
background-image: url('./hero-image-business-card.png');
position: relative;

}

svg{
    position: absolute;
    width: 100%;
    bottom: -1px;
    z-index: 0;
}
.text{
    font-family: 'Lato',sans-serif;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    opacity: 95%;
}
.title{
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight:600;
    color:#111729 ;
    padding-bottom: 10px;
    opacity: 95%;
    
}
.descreption{
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight:300;
    color: #677489;
    padding: 20px 0px;
    line-height: 1.5em;
    padding-top: 0px;
    width: 100%;
  
}
.author{
    font-family: 'Lato',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   height:90px;
    border-top: solid 1px #F2F5F9 ;

}
.avatar{
    width: 35px;
    height: 35px;
    background-image: url('./avatar-image-business-card.png');
    background-size: cover;
    border-radius: 100%;
    margin: 0px 10px 0px 0px;

}

.user{
    font-size: 16px;
    font-weight: bold;
    opacity: 90%;
}
.city{
   font-size: 12px;
   color: #677489;
   
}
.wraper{
    width:85%;

    display: flex;
}